[Unit]
Description=reader service
After=writer.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=user
ExecStart=/usr/bin/env bash /reader

[Install]
WantedBy=multi-user.target
